.App {
  background-image: url("/bg.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.flipbook-container {
  width: 60vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 95, 104, 0.445);
  color: black;
  padding: 10px;
  margin: 10px;
  object-fit: contain;  
}


.footer {
  background-color: #000000;
  height: 50px;
  /* opacity: 0.55; */
  position: relative;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.footer svg {
  fill: #fff;
  cursor: pointer;
}

.footer-item {
  margin: 10px;
}

.page-number-input {
  display: flex;
  align-items: center;
}
.page-number-input label {
  font-family: Arial, sans-serif;
  margin: 0 6px 0 6px;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  color: #5f6f7b;
  -webkit-font-smoothing: antialiased;
  width: auto;
}

.page-number-input input {
  background: #141f28;
  width: 40px;
  height: 20px;
  border: 1px solid #1e2f3c;
  box-shadow: inset 0 0 3px #0a1014;
  text-align: center;
  font-size: 12px;
  color: #bababa;
}

.page-number-input button {
  box-shadow: none;
  text-shadow: none;
  font-family: Arial;
  right: 0px;
  top: 11px;
  height: 17px;
  font-size: 9px;
  font-weight: bold;
  padding: 0 1px;
  background: #a1a5a8;
}

.draggable {
  cursor: grab;
}

.dragging div {
  cursor: grabbing;
}

.flipbook-nav-container {
  display: flex;
  align-items: center;
}

.footer svg:hover {
  transform: scale(1.4);
}
